<a href="https://colab.research.google.com/github/zjminglead/BESTORE/blob/master/data_calculate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')
!pwd

Mounted at /content/drive
/content

# 算术运算

## 1. 两列相加

In [4]:
import pandas as pd

df = pd.DataFrame([[1,2,3,4],[5,6,7,8],[0,1,0,1],[1,2,1,3]], columns=['C1','C2','C3','C4'])
df

   C1  C2  C3  C4
0   1   2   3   4
1   5   6   7   8
2   0   1   0   1
3   1   2   1   3

In [5]:
df['C1'] + df['C2']

0     3
1    11
2     1
3     3
dtype: int64

## 两列相减

In [6]:
df['C1'] - df['C2']

0   -1
1   -1
2   -1
3   -1
dtype: int64

## 两列相乘

In [7]:
df['C1'] * df['C2']

0     2
1    30
2     0
3     2
dtype: int64

## 两列相除

In [8]:
df['C1'] / df['C2']

0    0.500000
1    0.833333
2    0.000000
3    0.500000
dtype: float64

## 列加/减常数值

- 任意一列加/减一个常数值，这一列中的所有值都加/减这个常数值

In [9]:
df['C1'] + 2

0    3
1    7
2    2
3    3
Name: C1, dtype: int64

In [10]:
df['C1'] -2

0   -1
1    3
2   -2
3   -1
Name: C1, dtype: int64

## 列乘/除常数值

- 任意一列乘/除一个常数值，这一列中的所有值都乘/除这一常数值

In [11]:
df['C1'] * 2

0     2
1    10
2     0
3     2
Name: C1, dtype: int64

In [12]:
df['C1'] / 2

0    0.5
1    2.5
2    0.0
3    0.5
Name: C1, dtype: float64

# 比较运算

- >

- ==

- <

- !=

In [13]:
df['C1'] > df['C2']

0    False
1    False
2    False
3    False
dtype: bool

In [14]:
df['C1'] < df['C2']

0    True
1    True
2    True
3    True
dtype: bool

In [16]:
df['C1'] == df['C2']

0    True
1    True
2    True
3    True
dtype: bool

In [17]:
df['C1'] != df['C2']

0    False
1    False
2    False
3    False
dtype: bool

# 汇总计算

## count非空值计数

- 非空值计数就是计算某一个区域中非空（单元格）数值的个数。

- Excel: counta()函数类似的一个函数是count()函数，它用于计算某个区域中含有数字的单元格的个数。

- Python中，直接在整个数据表上调用 count()函数，返回的结果为该数据表中每列的非空值的个数

In [20]:
df = pd.DataFrame([[1,2,3,4],[5,6,7,8],[0,1,0,1],[1,2,1,3]], 
                  columns=['C1','C2','C3','C4'],
                  index = ['S1','S2', 'S3', 'S4'])

df

    C1  C2  C3  C4
S1   1   2   3   4
S2   5   6   7   8
S3   0   1   0   1
S4   1   2   1   3

In [21]:
# count()函数默认是求取每一列的非空数值的个数，
df.count()

C1    4
C2    4
C3    4
C4    4
dtype: int64

In [22]:
# 可以通过修改axis参数让其等于1，来求取每一行的非空数值的个数。
df.count(axis = 1)

S1    4
S2    4
S3    4
S4    4
dtype: int64

In [23]:
# 也可以把某一列或者某一行索引出来，单独查看这一列或这一行的非空值个数
df['C1'].count()

4

## sum求和

- 求和就是对某一区域中的所有数值进行加和操作

In [24]:
# sum()函数默认对每一列进行求和
df.sum()

C1     7
C2    11
C3    11
C4    16
dtype: int64

In [25]:
# 可通过修改axis参数，让其等于1，来对每一行的数值进行求和操作。
df.sum(axis = 1)

S1    10
S2    26
S3     2
S4     7
dtype: int64

In [26]:
# 也可以把某一列或者某一行索引出来，单独对这一列或这一行数据进行求和操作
df['C1'].sum()

7

## mean求均值

* 求均值是针对某一区域中的所有值进行求算术平均值运算。

* 均值是用来衡量数据一般情况的指标，容易受到极大值、极小值的影响。

In [27]:
# 如果对整个表直接调用mean()函数，返回的是该表中每一列的均值。
df.mean()

C1    1.75
C2    2.75
C3    2.75
C4    4.00
dtype: float64

In [28]:
# 可通过修改 axis 参数，让其等于1，来对每一行进行求均值运算。
df.mean(axis = 1)

S1    2.50
S2    6.50
S3    0.50
S4    1.75
dtype: float64

In [31]:
# 也可以把某一列或者某一行通过索引的方式取出来，然后在这一行或这一列上调用mean()函数，单独求取这一行或这一列的均值。
df.loc['S1',:].mean()

2.5

In [32]:
df['C1'].mean()

1.75

## max求最大值

- 在Excel和Python中，求最大值使用的都是max()函数

- 在Python中，和其他函数一样，如果对整个表直接调用max()函数，则返回该数据表中每一列的最大值。

- max()函数也可以对每一行求最大值，还可以单独对某一行或某一列求最大值。

In [33]:
df

    C1  C2  C3  C4
S1   1   2   3   4
S2   5   6   7   8
S3   0   1   0   1
S4   1   2   1   3

In [34]:
df.max()

C1    5
C2    6
C3    7
C4    8
dtype: int64

In [35]:
df.max(axis = 1)

S1    4
S2    8
S3    1
S4    3
dtype: int64

In [36]:
df.loc['S2',:].max()

8

In [37]:
df['C1'].max()

5

## min求最小值

In [38]:
df

    C1  C2  C3  C4
S1   1   2   3   4
S2   5   6   7   8
S3   0   1   0   1
S4   1   2   1   3

In [39]:
df.min()

C1    0
C2    1
C3    0
C4    1
dtype: int64

In [40]:
df.min(axis = 1)

S1    1
S2    5
S3    0
S4    1
dtype: int64

In [41]:
df.loc['S1',:].min()

1

## median求中位数

- 中位数就是将一组含有n个数据的序列X按从小到大排列，位于中间位置

- 中位数是以中间位置的数来反映数据的一般情况，不容易受到极大值、极小值的影响，因而在反映数据分布情况上要比平均值更有代表性。

- 在Excel和Python中求一组数据的中位数，都是使用median()函数来实现的。

In [42]:
df

    C1  C2  C3  C4
S1   1   2   3   4
S2   5   6   7   8
S3   0   1   0   1
S4   1   2   1   3

In [43]:
# 对整个表调用Median()函数
df.median()

C1    1.0
C2    2.0
C3    2.0
C4    3.5
dtype: float64

In [44]:
# 求取每一行的中位数
df.median(axis = 1)

S1    2.5
S2    6.5
S3    0.5
S4    1.5
dtype: float64

In [46]:
# 求取某一列的中位数
df['C1'].median()

1.0

In [48]:
# 求取某一行的中位数
df.iloc[1,:].median()

6.5

## mode求众数

- 众数就是一组数据中出现次数最多的数，求众数就是返回这组数据中出现次数最多的那个数。

In [50]:
# 对整个表求众数
print(df)
df.mode()

    C1  C2  C3  C4
S1   1   2   3   4
S2   5   6   7   8
S3   0   1   0   1
S4   1   2   1   3

    C1   C2  C3  C4
0  1.0  2.0   0   1
1  NaN  NaN   1   3
2  NaN  NaN   3   4
3  NaN  NaN   7   8

In [51]:
# 求取每一行的众数
df.mode(axis = 1)

      0    1    2    3
S1  1.0  2.0  3.0  4.0
S2  5.0  6.0  7.0  8.0
S3  0.0  1.0  NaN  NaN
S4  1.0  NaN  NaN  NaN

In [52]:
# 求取某一列的众数
df['C1'].mode()

0    1
dtype: int64

## var求方差

- 方差是用来衡量一组数据的离散程度（即数据波动幅度）的。
- 在Excel和Python中求一组数据中的方差都使用var()函数。

In [53]:
df

    C1  C2  C3  C4
S1   1   2   3   4
S2   5   6   7   8
S3   0   1   0   1
S4   1   2   1   3

In [54]:
df.var()

C1    4.916667
C2    4.916667
C3    9.583333
C4    8.666667
dtype: float64

In [55]:
df.var(axis = 1)

S1    1.666667
S2    1.666667
S3    0.333333
S4    0.916667
dtype: float64

In [56]:
df.loc['S1',:].var()

1.6666666666666667

## std求标准差

- 标准差是方差的平方根，二者都是用来表示数据的离散程度的。
- 在Excel中计算标准差使用的是stdevp()函数

- 在Python中计算标准差使用的是std()函数，std()函数的使用原则与其他函数的一致

In [57]:
df

    C1  C2  C3  C4
S1   1   2   3   4
S2   5   6   7   8
S3   0   1   0   1
S4   1   2   1   3

In [58]:
df.std()

C1    2.217356
C2    2.217356
C3    3.095696
C4    2.943920
dtype: float64

In [59]:
df.std(axis = 1)

S1    1.290994
S2    1.290994
S3    0.577350
S4    0.957427
dtype: float64

In [60]:
df['C1'].std()

2.217355782608345

## quantile求分位数

- 分位数是比中位数更加详细的基于位置的指标，分位数主要有四分之一分位数、四分之二分位数、四分之三分位数，而四分之二分位数就是中位数。
- 在Excel中求分位数用的是percentile()函数

- 在Python中求分位数用的是quantile()函数，要在quantile后的括号中指明要求取的分位数值，quantile()函数与其他函数的使用规则相同。

In [61]:
df

    C1  C2  C3  C4
S1   1   2   3   4
S2   5   6   7   8
S3   0   1   0   1
S4   1   2   1   3

In [62]:
df.quantile(0.25)

C1    0.75
C2    1.75
C3    0.75
C4    2.50
Name: 0.25, dtype: float64

In [64]:
df.quantile(0.75)

C1    2.0
C2    3.0
C3    4.0
C4    5.0
Name: 0.75, dtype: float64

In [65]:
# 求取每一行的四分之一分位数
df.quantile(0.25, axis = 1)

S1    1.75
S2    5.75
S3    0.00
S4    1.00
Name: 0.25, dtype: float64

In [66]:
# 求取C1的四分之一分位数
df['C1'].quantile(0.25)

0.75

In [69]:
df.quantile([0,0.25,0.5,0.75,1])

        C1    C2    C3   C4
0.00  0.00  1.00  0.00  1.0
0.25  0.75  1.75  0.75  2.5
0.50  1.00  2.00  2.00  3.5
0.75  2.00  3.00  4.00  5.0
1.00  5.00  6.00  7.00  8.0

# 相关性运算

- 相关性常用来衡量两个事物之间的相关程度
- 比如我们前面举的例子：啤酒与尿布二者的相关性很强。
- 我们一般用相关系数来衡量两者的相关程度，所以相关性计算其实就是计算相关系数，比较常用的是皮尔逊相关系数。

**Excel实现**

- 在Excel中求取相关系数用的是correl()函数

**Python实现**

- 在Python中求取相关系数用的是corr()函数

In [71]:
df

    C1  C2  C3  C4
S1   1   2   3   4
S2   5   6   7   8
S3   0   1   0   1
S4   1   2   1   3

In [72]:
# 求取各字段列的相关系数
df.corr()

          C1        C2        C3        C4
C1  1.000000  1.000000  0.959074  0.970222
C2  1.000000  1.000000  0.959074  0.970222
C3  0.959074  0.959074  1.000000  0.987548
C4  0.970222  0.970222  0.987548  1.000000

In [73]:
# 求取col1列与col2列的相关系数
df["C1"].corr(df["C2"])

0.9999999999999998